fastapi>=0.100.0
uvicorn[standard]
httpx
pyyaml
sqlmodel
python-dotenv
google-genai
python-multipart
chromadb
rank_bm25
pydantic-settings
pypdf
pyjwt
presidio-analyzer
presidio-anonymizer
spacy
# ja_core_news_lg will be installed in Dockerfile